# Virtual Environment
venv/
.env

# Python
__pycache__/
*.py[cod]
*.pyo

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# DVC
/data/*.csv
/data/*.txt
/data/*.parquet

# Logs
*.log

# OS Files
.DS_Store
Thumbs.db

# Pytest
.pytest_cache/

# Coverage
.coverage
htmlcov/